# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


originalk_index.jsx
index original copy.jsx
_Card_orig.jsx
Detalles originalcopy.jsx
index_originalcopy.jsx
NC_detalles_index.jsx
